@import "tailwindcss";

:root {
  --background: #FFFCFC;
  --foreground: #171717;
  --color: #171717;
  --active-color: #FF9233;
  --font: 'Actor', sans-serif;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--color);
  --active-color: var(--active-color);
  --font: var(--font);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --color: #ededed;
  }
} */

html, body {
  font-family: var(--font);
  background: var(--background);
  color: var(--color);
  letter-spacing: 0.1rem;
}

@layer components {
  .card {
    box-shadow: 6px 6px 4px 0px rgba(0,0,0,0.18);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

