@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color: #171717;
  --font-sans: 'Actor', sans-serif;
  --font-jp: 'Noto Sans JP', 'Hiragino Sans', 'Meiryo', sans-serif;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--color);
  --en: var(--font-sans);
  --jp: var(--font-jp);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --color: #ededed;
  }
} */

body {
  font-family: var(--font-sans);
  background: var(--background);
  color: var(--color);
  letter-spacing: 0.1rem;
}

